@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@import "./assets/styles/components.css";

:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --*: initial;
  --spacing: 1px; /* Example spacing variable */
  --font-display: "Playfair Display", serif; /* font variable */



  /* Default (light mode) */
  /* Background */
  --color-bg-primary: #ffffff;

  /* Text */
  --color-t-dark: #3a3a3a;
  --color-t-brown: #a68061;
  --color-t-gray: #737373;
  --color-t-hover-gray: #737373;

  /* Buttons */
  --color-btn-gold: #d9a441;
  --color-btn-red: #b24532;

  /* Neutrals */
  --color-gray-smoke: #e4c9b0;
  --color-gray-light: #a69b92;

  --color-border-gray: #a2968d;
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  @theme {
    --color-bg: #1c1c1c;
    --color-text-dark: #ededed;
    --color-text-brown: #c4a689;
    --color-btn-gold: #e6b85c;
    --color-btn-red: #d95f4e;
    --color-gray-smoke: #5c4c3d;
    --color-gray-light: #7d7670;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  color: var(--color-text-dark);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
