@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@import "./assets/styles/components.css";

:root {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --*: initial;
  --spacing: 1px; /* Example spacing variable */
  --font-display: "Playfair Display", serif; /* font variable */
  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  /* Font sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Default (light mode) */
  /* Background */
  --color-bg-primary: #F5F3EB;
  --color-bg-secondary: #FDFCF8;

  /* Text */
  --color-t-dark: #3a3a3a;
  --color-t-brown: #4c3b31;
  --color-st-brown: #6B5B4C;
  --color-t-gray: #80736b;
  --color-t-hover-gray: #737373;

  /* Buttons */
  --color-btn-gold: #d9a441;
  --color-btn-red: #b24532;

  /* Neutrals */
  --color-gray-smoke: #e4c9b0;
  --color-gray-light: #a69b92;

  --color-border-gray: #a2968d;
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  @theme {
    --color-bg: #1c1c1c;
    --color-text-dark: #ededed;
    --color-text-brown: #c4a689;
    --color-btn-gold: #e6b85c;
    --color-btn-red: #d95f4e;
    --color-gray-smoke: #5c4c3d;
    --color-gray-light: #7d7670;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  color: var(--color-text-dark);
}
img {
  max-width: 100%;
  display: block;
}
.swiper {
  width: 100% !important;
  height: 100vh !important;
}

.swiper-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide {
  width: 100% !important;
  height: 100% !important;
}
